.bgcolor{
    /* background-image: url('/Images/background.jpg'); */
    
    background-color: #dee2e6;
}
.bgsize{
    width: 98%;
}

.show{
    background-color: #2c92eb;
}

/* form bg color */
/* .linear-gradient{
    background: linear-gradient(20deg, #d83b5d, #0ddb96);
} */